
.h2 {
    color: rgb(235, 86, 86);
  }
  button{
    background-color:#A78EB0(58, 136, 75);
  }
  .addSubmit{
    background-color:#A78EB0;
  }

  .button3{
    background-color: #A78EB0;
  }
  .button4{
    background-color:#C1BB9A;
    color: #334C3A;
  }
  